.authContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 12fr 6fr;
}

.authLeft {
    padding: 6rem;
    background-color: #141414;

    & img {
        max-width: 600px;
    }

    & .ico {
        padding: 1rem 1.5rem;
        background-color: red;
        font-size: 2rem;
    }

    & h2 {
        max-width: 600px;
        font-size: 2rem;
    }

    & p {
        font-size: 1.2rem;
        max-width: 600px;
    }
}