.authContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 12fr 6fr;
}

.authLeft {
    padding: 6rem;
    background-color: #141414;

    & img {
        max-width: 600px;
    }

    & h2 {
        font-size: 1.8rem;
    }
}