:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --primaryColor: #0077D7;
  --accentColor: #1E1E1E;
  --dark: #000;
  --light: #fff;
}

.colorPrimary {
  color: var(--primaryColor);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-light {
  background-color: var(--light);
}

a {
  cursor: pointer;
  font-weight: 500;
  color: var(--light);
  text-decoration: inherit;
}

a:hover {
  color: var(--primaryColor);
}

.auth_form {

  & label,
  a {
    font-size: 1.1rem;
    font-weight: 600;
    color: #cfcfcf;
  }

  & a:hover {
    color: var(--primaryColor);
  }
}


.btnPrimary {
  margin-top: 1.5rem;
  padding: 1rem .5rem;
  border: none;
  border-radius: 6px;
  background: #1976d2;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: 600;

  &:hover {
    background: #1565c0;
  }
}


.authContainer {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  height: 100%;
  justify-content: center;

  & input {
    padding: .5rem;
    border-radius: .4rem;
  }

  & .inputRegister {
    background-color: var(--accentColor);
    border-bottom: .15rem solid transparent;

    &:focus-within {
      border-color: var(--primaryColor);
    }
  }

  & .inputLogin {
    position: relative;
    padding: 1rem;
    border: .1rem solid #cfcfcf;
    transition: all .1s linear;

    &:focus-within {
      border-color: var(--primaryColor);
    }

    &::placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: var(--light);
    }

    &:focus::placeholder {
      position: absolute;
      top: 10px;
      left: 10px;
      color: var(--primaryColor);
      opacity: 0.5;
      transition: all .5s linear;
      /* Pequeno deslocamento para efeito visual */
    }
  }
}